table {
    table-layout: fixed;
    width: 450px;
}

table th{
    padding: 20px 10px;
}

table td{
    padding: 20px 10px;
    text-align:center;
    margin:auto;
}

.sunday {
    color: #ff0000;
}

.saturday {
    color: #0000ff;
}

.public {
    color: #008000;
}

.transfer {
    color: #ffa500;
}

.event {
    color: #ffff00;
}
